#heading {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

#btn {

    display: block;
    margin: 1rem auto;

}

#sentence{
    width: 40%;
    margin: 0 auto;
    font-weight: bold;
    
}

#text-input {
    display: block;
    margin: 0 auto;
    }
 #text-output{
     margin: 1rem auto;
 }   


.input{
    
    border: 1px solid black;
    width: 40%;
    height: 10vh;
    padding: 1rem;
    
}