:root {
    --yellow: #F4DD4B;
    --blue: #115695;


}

body {
    margin: 0px;
}

#heading {
    font-size: 4rem;
    padding: 7.5rem;
    background-color: var(--yellow);
    border: 0px;
    text-align: center;
}

#main {
    background-color: var(--blue);
    padding-top: 5px;
    padding-bottom: 14px;
}

#btn {

    display: block;
    margin: 1rem auto;
    background-color: var(--blue);
    border: 2px solid black;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;

}

#sentence {
    width: 40%;
    margin: 0 auto;
    font-weight: bold;

}

#text-input {
    display: block;
    margin: 1rem auto 0px;
    background-color: var(--blue);

}

#text-output {
    margin: 0 auto;
    overflow: auto;
}


.text {

    border: 2px solid black;
    width: 40%;
    height: 10vh;
    padding: 1rem;
    font-size: 1.2rem;

}